.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .navigation__link_pets-page {
    color: $color-navigation;
    &:active {
      color: $color-navigation-active;
    }
  }
  .navigation__link_pets-page:hover {
    color: $color-navigation-active;
  }
  .disabled_pets-page {
    color: #ffffff;
  }
  .header__burger.active {
    transform: rotate(90deg);
  }
  .burger {
  }
  .burger__icon {
    display: block;
    width: 100%;
    border: 1px solid #f1cdb3;
  }
  .burger__icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #f1cdb3;
  }
  .burger__icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #f1cdb3;
  }
  .burger__icon_pets-page {
    border-color: #000000;
  }
  .burger__icon_pets-page::before {
    border-color: #000000;
  }
  .burger__icon_pets-page::after {
    border-color: #000000;
  }
  .header__navigation {
    position: fixed;
    z-index: 50;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background: #292929;
    padding: 30px 10px;
    // overflow: auto;
    transition: right 0.6s ease-in-out;
  }
  .header__navigation.active {
    right: 0;
  }
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    height: 100%;
    margin-top: 23px;
  }
  .navigation__link::after {
    content: "";
    border-bottom: 3px solid #f1cdb3;
  }
  .navigation__link {
    @include font($size: 3.2rem, $height: 160%, $weight: normal);

    &:active {
      &:active::after {
        content: "";
        border-bottom: 3px solid #f1cdb3;
      }
    }
  }
}
